{% extends 'base.html.twig' %}

{% block title %}Artists index{% endblock %}

{% block body %}
    <h1>Artists index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Picture</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.name }}</td>
                <td>{{ artist.category.id }}</td>
                <td>{{ artist.description }}</td>
                <td>{{ artist.picture }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}